<div class="hero-unit">

	<h3  style="text-align: center;">Exámen</h3>
    <div  style="background:yellow;"><h4> Duración del examen: <span id="examen"><%= 
    #TOMA EL VALOR DE DURACION DE LA TABLA DE MASTER_EXAM
     @examenMaestro.duracion 
    %>:00</span> minutos</h4></div>
	<%= render 'form' %>

	<% if @exam.errors.any? %>
		<ul>
			<% for message_error in @exam.errors.full_messages %>
			<li>- <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>


</div>


<script type="text/javascript">
 var tiempo = <%= 
     @examenMaestro.duracion 
    %>;				
   var tiempoSeg = tiempo*60;
   //calcula las horas que tiene la duracion.
   var hrs = Math.floor(tiempoSeg/3600);
		var timer = $.timer(
			function() {
				var hrs = Math.floor(tiempoSeg/3600);
				var mins = Math.floor((tiempoSeg % 3600)/60);
				//si es mayor a 60 min agrega la hora a los minutos
				if(hrs > 0 ){
					mins = mins + 60;
				} 
				var secs = tiempoSeg % 60;
				var tock = /*(hrs < 10 ? "0" : "" ) + hrs+ ":" */
				         + (mins < 10 ? "0" : "" ) + mins + ":" 
				         + (secs < 10 ? "0" : "" ) + secs;
				 $('#examen').html(tock);
				 tiempoSeg--;
				 //si el tiempo es de segundos
				 if(tiempoSeg <= 60){
				 		console.log("Se te acabara el tiempo");
				 }
				 if(tiempoSeg == 0){
				 	//se debe de cerrar
				 }
			},
			1000,
			true
		);	
	//Para que no mande alert al dar clic en boton de Enviar
	$(".edit_exam").on("submit", function(e) {
		window.onbeforeunload = null;	//se cancela la funcion onbeforeunload
	})

	//funcion para enviar una alerta al momento en que el usuario actualiza o cierra la pestaña
	window.onbeforeunload = function (e) {
            e = e || window.event;
            var y = e.pageY || e.clientY;
            if (y < 0){
                return "¿Seguro que deseas salir del examen?";
            }
            else {
                return "Al actualizar o cerrar la página perderas un intento del examen";
            }
            
            

    }
    /*
    setInterval(function(){alert("Hello")},800);
    window.onload=function(){var timer = $.timer(function() {
                alert('This message was sent by a timer.');
        });

        timer.set({ time : 5000, autostart : true });};
    */
    
</script>
