<div class="hero-unit">
	<h3 style="text-align: center;">Exámen</h3>

	<%= render 'form' %>

	<% if @exam.errors.any? %>
		<ul>
			<% for message_error in @exam.errors.full_messages %>
			<li>- <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>

<script type="text/javascript">
	//Para que no mande alert al dar clic en boton de Enviar
	$(".edit_exam").on("submit", function(e) {
		window.onbeforeunload = null;	//se cancela la funcion onbeforeunload
	})

	//funcion para enviar una alerta al momento en que el usuario actualiza o cierra la pestaña
	window.onbeforeunload = function (e) {
            e = e || window.event;
            var y = e.pageY || e.clientY;
            if (y < 0){
                return "¿Seguro que deseas salir del examen?";
            }
            else {
                return "Al actualizar o cerrar la página perderas un intento del examen";
            }
            
            

    }
    setInterval(function(){alert("Hello")},800);
    window.onload=function(){var timer = $.timer(function() {
                alert('This message was sent by a timer.');
        });

        timer.set({ time : 5000, autostart : true });};
    
</script>