<div class="hero-unit">
	<h3 style="text-align: center;">Exámen</h3>

	<%= render 'form' %>

	<% if @exam.errors.any? %>
		<ul>
			<% for message_error in @exam.errors.full_messages %>
			<li>- <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>

<script type="text/javascript">
	
	window.onbeforeunload = function (e) {
            
            e = e || window.event;
            var y = e.pageY || e.clientY;
            if (y < 0){
                return "¿Seguro que deseas salir del examen?";
            }
            else {
                return "Al actualizar o cerrar la página perderas un intento del examen";
            }

    }
    
</script>